.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  padding-left: 260px;
}

.event, .article {
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 14px;
  text-align: left;
  margin-bottom: 12px;
}

@media (min-width: 1450px) {
  .event, .article {
    width: calc(75% - 10px);
  }
}

.article {
  margin-bottom: 75px;
}

.event:hover, .article:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.date, .venue, .session, .publication-title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.description, .abstract, p {
  font-size: 14px;
  margin-bottom: 6px;
}

.cite {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

.session a {
  color: black;
}

.session a:hover {
  text-decoration: none;
  outline: none;
}

.event img {
  display: block;
  margin: 0 auto 16px auto;
  max-width: 60%;
  height: auto;
}

.article img {
  max-width: 95%;
  height: auto;
}

@media (max-width: 1100px) and (min-width: 851px) {
  .holder {
    padding-left: 260px;
  }
  .event, .article {
    width: 95%;
  }
}

@media (max-width: 850px) {
  .event img {
    max-width: 80%;
  }
}

@media (max-width: 850px) {
  .holder {
    padding-left: 0;
    padding-right: 0;
  }
  .event, .article {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
  }
  .date, .venue, .publication-title, .session {
    font-size: 11px;
  }
  .description, .abstract, p {
    font-size: 11px;
  }
  .cite {
    display: none !important;
  }
  .citation {
    display: none !important;
  }
}