.command {
  margin-left: 200px !important;
  margin: 10px auto;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border: 1px solid black;
  border-radius: 0px;
  display: block;
  background: white;
  width: 1000px; 
  max-width: 100%;
}

.response {
  margin-left: 200px !important;
  position: absolute; 
  width: 1000px; 
  border: 1px solid #3F51B5;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  display: none;
  z-index: 10; 
  min-height: 75px; 
  background: #000;
  color: #3F51B5;
  font-family: monospace;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.response a {
  color: #3F51B5;
}

.terminal {
  display: block;
}


@media (max-width: 1300px) {
  .command, .response {
    width: 60vw;
  }
}

@media (max-width: 850px) {
  .command {
    margin-left: 5% !important;
    width: 82vw;
  } 
  .response {
    margin-left: 4% !important;
    width: 82vw;
    font-size: 16px;
  }
}

.command:hover  + .response {
  display: block;
  transform: translateY(-85px);
}

.response:hover  {
  display: block;
  transform: translateY(-85px);
}
