.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}


.article {
  width: calc(65% - 10px);
  background-color: white;
  box-shadow: 0 26px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  border-block: gray;
  margin-bottom: 75px;
  margin-left: 200px;
}

.article img {
  max-width:  95%;
  height: auto;
}


.article-venue {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}


.article-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.article-abstract {
  font-size: 18px;
  margin-bottom: 10px;
}

.article:hover {
  padding-top: 25px;
  padding-bottom: 15px;
}

@media (max-width: 850px) {
  .article {
    margin-left: 6%;
    width: calc(100% - 10px);
  }
  .article-title {
    font-size: 20px;
  }
  .article-abstract {
    font-size: 16px;
  }
  .article-venue {
    font-size: 14px;
  }
}
