/* overall page css  */
body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.content {
  flex: 1 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.footer {
  flex-shrink: 0;
  background-color: #3F51B5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 14px;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 200px
}

@media (max-width: 850px) {
  .footer {
    padding-left: 6%;
  }
}

hr {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  border: none;
}

.content a {
  color: #3F51B5
}

/* end page */

/* Left Side Navbar */
.left-side-navbar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  text-align: left;
}

.left-side-navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.left-side-navbar a:hover{
  color: #f1f1f1;
}

.left-side-navbar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .left-side-navbar {padding-top: 15px;}
  .left-side-navbar a {font-size: 18px;}
}

@media only screen and (max-width: 850px) {
  .left-side-navbar {
    width: 6%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3F51B5;
  }
  .left-side-navbar a {padding-left: 300px;}
}

.left-side-navbar:hover {
  width: 250px;
  display: block;
  background-color: #111;
}
.left-side-navbar:hover a {padding-left: 15px;}

/* Page content */
.main {
  margin-left: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.social {
  padding-top: 150px;
}


@media screen and (max-height: 650px) {
  .left-side-navbar {
    padding-top: 15px;
  }
  .left-side-navbar a {
    font-size: 18px;
  }
  .social {
    padding-top: 0px;
  }
  
}


/* endnav */
.intro {
  margin-top: 120px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 200px;
}

@media (max-width: 1296px) {
  .intro {
    width: calc(80% - 10px);
  }
}

@media (max-width: 850px) {
  .intro {
    padding-left: 6%;
  }
}

.command {
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: block;
}

.response {
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  border: 2px solid #3F51B5;
  border-radius: 5px;
  display: none;
}

.terminal {
  display: block;
}

.command, .response {
  width: 745px;
  max-width: 100%;
  margin-left: 200px !important;
  transition: 0s;
  transition-delay:0.2s;
}

@media (max-width: 1050px) {
  .command, .response {
    width: 60vw;
  }
}


@media (max-width: 850px) {
  .command, .response {
    margin-left: 6% !important;
    width: 82vw;
  }
}

.command:hover  + .response {
  display: block;
  transform: translateY(-20px);
}

.response:hover  {
  display: block;
  transform: translateY(-20px);
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-left: 200px;
}

.events-title, .presentations-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}



@media (max-width: 850px) {
  .events {
    padding-left: 6%;
  }
}

@media (max-width: 950px) {
  .events-title {
    font-size: 30px;
  }
}


.event {
  width: calc(75% - 10px);
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.event:hover {
  padding-top: 25px;
  padding-bottom: 15px;
}


@media (max-width: 850px) {
  .event {
    width: calc(90% - 10px);
  }
}


.event-date {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.event-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.event-title a {
  color: black;
}

.event-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 200px !important;
  padding: 0;
}

.language-item {
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}


@media (max-width: 1396px) {
  .language {
    display: none;
  }
}


.presentations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.presentations-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 200px;
}

.presentation {
  width: calc(65% - 10px);
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 200px;
}
.presentation:hover {
  padding-top: 25px;
  padding-bottom: 15px;
}


.presentation img {
  align-items: center;
  text-align: center;
  margin: auto;
  margin-left: 50%;
  max-width: 50%;
  height: auto;
  margin-bottom: -70px;
}


.presentation-session {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.presentation-session b{
  font-weight: 700;
}


.presentation-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.presentation-bgtitle {
  font-size: 60px;
  font-weight: 600;
}


.presentation-title b{
  font-weight: 700;
}


.presentation-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.presentation-text b{
  font-weight: 700;
}


.presentation-cite {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 1450px) {
  .presentation img {
    margin-left: 0%;
    max-width: 100%;
    margin-bottom: 0px;
  }

}


@media (max-width: 850px) {
  .presentation {
    margin-left: 6%;
    width: calc(100% - 10px);
  }
  .presentations-title{
    padding-left: 0px;
    font-size: 24px;
  }
  .presentation-bgtitle {
    font-size: 24px;
  }
}


.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}


.article {
  width: calc(65% - 10px);
  background-color: white;
  box-shadow: 0 26px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  border-block: gray;
  margin-bottom: 75px;
  margin-left: 200px;
}

.article img {
  max-width:  95%;
  height: auto;
}


.article-venue {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}


.article-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.article-abstract {
  font-size: 18px;
  margin-bottom: 10px;
}

.article:hover {
  padding-top: 25px;
  padding-bottom: 15px;
}

@media (max-width: 850px) {
  .article {
    margin-left: 6%;
    width: calc(100% - 10px);
  }
  .article-title {
    font-size: 20px;
  }
  .article-abstract {
    font-size: 16px;
  }
  .article-venue {
    font-size: 14px;
  }
}

